# Invenio/Flask instance secret
INVENIO_SECRET_KEY='CHANGE ME. Any big, random key should work fine ;)'

# Invenio IP/hostname
INVENIO_HOSTNAME=localhost

# Gitlab invenio-app secrets
GITLAB_HOSTNAME='https://gitlab.com'
GITLAB_INVENIO_APP_ID='gitlab app key'
GITLAB_INVENIO_APP_SECRET='gitlab app secret'

